.login {
    text-align: center;
}

.login p {
    color: #aaa;
}

.login form {
    max-width: 50%;
    margin: 0 auto;
}

@media screen and (max-width: 600px) {
    .login form {
        max-width: 70%;
        margin: 0 4em;
    }
}
