.register {
    text-align: center;
}

.register p {
    color: #aaa;
}

.register form {
    max-width: 50%;
    margin: 0 auto;
}

@media screen and (max-width: 600px) {
    .register form {
        max-width: 70%;
        margin: 0 4em;
    }
}
