.dashboard {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dashboard h2 {
    font-size: 2.2em;
    margin-bottom: 0.5em;
}

.dashboard p {
    color: #aaa;
    margin-bottom: 1em;
}

.noposts {
    text-align: center;
}

.noposts p {
    margin-bottom: 1.5em;
}

.noposts a {
    padding: 10px 25px;
}

.post_header {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    border-bottom: 2px solid #ccc;
    width: 80%;
    padding: 10px;
}

.post_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #dfcccc;
    width: 80%;
    padding: 10px;
}

.post_row p {
    color: #000;
}

.post_row img {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    max-height: 200px;
    margin-top: 20px;
}

.post_row button,
.post_row a {
    margin: 0 5px;
    height: 30px;
    width: 100px;
    font-size: 0.7em;
}

@media screen and (max-width: 600px) {
    .dashboard h2 {
        font-size: 1.7em;
    }

    .dashboard p {
        font-size: 0.9em;
    }

    .post_header,
    .post_row {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .post_header {
        display: none;
    }

    .post_row img {
        max-width: 100%;
        height: auto;
        margin-top: 10px;
        margin-left: 1em;
    }

    .post_row button,
    .post_row a {
        margin: 5px 1em;
        width: 80px;
        font-size: 0.6em;
    }
}
