.post_detail {
    margin-bottom: 2em;
}

.post_detail img {
    max-width: 600px;
    max-height: 600px;
}

.post_detail h2 {
    margin-bottom: 0.4em;
}

.post_detail .tags {
    margin-bottom: 1.2em;
    display: flex;
}

.tags p {
    margin-right: 0.5em;
}

.tags span {
    font-weight: bold;
}

.createdby {
    font-style: italic;
    color: #444;
    font-size: 0.8em;
    margin-bottom: 1em;
}

@media screen and (max-width: 600px) {
    .post_detail img {
        justify-content: center;
        align-items: center;
        max-width: 75%;
        margin: 0 3em;
        padding: 0;
    }

    .post_detail .tags {
        margin-bottom: 0.1em;
        display: flex;
    }

    .post_detail {
        padding: 0 1em;
        margin-bottom: 4em;
    }

    .createdby {
        font-style: italic;
        color: #444;
        font-size: 0.8em;
        margin-bottom: 0.5em;
    }
}
