.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search_form {
    max-width: 100%;
    width: 60%;
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
}

.search_form input {
    margin-right: 10px;
    width: 50%;
}

.search_form button {
    align-items: center;
    width: 15vh;
    display: flex;
}

.search_form img {
    margin-left: 8px;
}

.noposts {
    text-align: center;
}

.noposts p {
    margin-bottom: 1.5em;
}

.moposts a {
    padding: 10px 25px;
}

@media screen and (max-width: 600px) {
    .home h1 {
        font-size: 1em;
    }

    .search_form input {
        margin-right: 10px;
        width: auto;
    }

    .search_form form {
        height: 10%;
    }
}
