.edit_post {
    text-align: center;
}

.edit_post h2 {
    font-size: 2.2em;
}

.edit_post p {
    color: #aaa;
    margin-bottom: 2em;
}

.edit_post .preview_title {
    margin-bottom: 0.2em;
    color: #000;
    font-weight: bold;
}

.image_preview {
    max-width: 100%;
    margin-bottom: 1em;
}

.edit_post form {
    max-width: 50%;
    margin: 0 auto;
}

.edit_post > h2 > span {
    color: #3d7a40;
}

@media screen and (max-width: 600px) {
    .edit_post h2 {
        font-size: 1em;
    }

    .edit_post p {
        color: #aaa;
        margin-bottom: 2em;
        font-size: 0.8em;
    }

    .edit_post form {
        max-width: 70%;
        margin: 0 4em;
    }
}
