.post_container {
    text-align: center;
}

.post_container img {
    max-width: 900px;
    max-height: 900px;
}

.post_container h4 {
    font-style: italic;
}

.post_container h3 {
    margin-bottom: 0.2em;
}

.post_container .tags {
    display: flex;
    justify-content: center;
}

.tags p {
    margin-right: 1em;
}

.tags span {
    font-weight: bold;
}

@media screen and (max-width: 600px) {
    .post_container {
        text-align: center;
    }

    .post_container img {
        max-width: 100%;
        height: auto;
    }
}
