.navbar {
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.15) 0px -2px 10px 0px;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 2em;
}

.brand {
    font-size: 1.2em;
}

.brand span {
    font-weight: 900;
    text-transform: uppercase;
}

.links_list {
    display: flex;
    list-style: none;
}

.links_list {
    margin-right: 1em;
}

.links_list li a {
    padding: 0.4em 0.6em;
}

.links_list button:hover {
    transition: 0.4s;
    font-weight: 600;
    color: red;
}

.active {
    background-color: black;
    color: white;
}

@media screen and (max-width: 600px) {
    .navbar {
        padding: 0.5em 0.5em;
    }

    .brand {
        font-size: 0.8em;
        display: flex;
        margin-left: 0;
    }

    .brand > img {
        width: 1.5em;
        height: 1.5em;
    }

    .brand span {
        font-weight: 900;
        text-transform: uppercase;
    }

    .links_list {
        font-size: 0.65em;
        display: flex;
        list-style: none;
        justify-content: center;
        align-items: center;
        padding: 1.5em;
    }

    .links_list {
        margin-right: 0.9em;
    }

    .links_list li a {
        padding: 0.2em 0.8em;
        text-align: center;
        display: block;
    }

    .links_list button:hover {
        transition: 0.4s;
        font-weight: 600;
        color: red;
    }

    .active {
        background-color: black;
        color: white;
    }
}
