.search_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.search_container h1 {
    margin-bottom: 1em;
}

.search_container p {
    margin-bottom: 30px;
}

.search_container spam {
    color: #52803f;
}

@media screen and (max-width: 600px) {
    .search_container h1 {
        font-size: 1.5em;
        justify-content: center;
    }

    .search_container p {
        font-size: 0.9em;
    }
}
