.create_post {
    text-align: center;
}

.create_post h2 {
    font-size: 2.2em;
}

.create_post p {
    color: #aaa;
    margin-bottom: 2em;
}

@media screen and (max-width: 600px) {
    .create_post {
        text-align: center;
    }

    .create_post h2 {
        font-size: 1.7em;
    }

    .create_post p {
        color: #aaa;
        margin-bottom: 2em;
        font-size: 0.9em;
    }

    .create_post form {
        max-width: 50%;
        margin: 0 3em;
    }

    .create_post input {
        width: 150%;
    }

    .create_post button {
        margin-left: 5em;
    }
}
